<p>
  dynamic-form-test works!
</p>

      <form [formGroup]="profileForm" *ngIf="profileForm">
          
        <label>name</label>
        <input formControlName="name" />

        <label>preference</label>
        <input formControlName="preference" />

        <div formGroupName="dynamic">
        <label>dynamic a</label>
        <input formControlName="appa" />

        <label>dynamic b</label>
        <input formControlName="appb" />
      </div>
      <button type="button" class="btn btn-primary" (click)="updateFields()">UPDATE</button>

      </form>

      <button type="button" class="btn btn-info" 
        (click)="openModal(template)">Create template modal</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" 
                aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>

